.input_user{
    width: 40%;
    border: 1px solid;
    transform: translate(400px, 200px);
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px black;
    background: linear-gradient( 120deg, rgba(253, 19, 19, 0.63),rgba(0, 162, 255, 0.589),rgba(128, 0, 38, 0.61));
    
}
.input_user button{
    margin: 3px 6px;
}
.userlogin{
    border: 1px solid;
    height: 100vh;
    background: url("../images/pexels-karolina-grabowska-5632361.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
}